.div-wrapper {
  align-items: center;
  background-color: var(--foundation-bluedarker);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  width: 432px;
}

.div-wrapper .group {
  height: 24px;
  position: relative;
  width: 391.5px;
}

.div-wrapper .frame-2 {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  left: 0;
  position: absolute;
  top: 2px;
}

.div-wrapper .text-wrapper-2 {
  color: #ffffff;
  font-family: var(--bold-10-font-family);
  font-size: var(--bold-10-font-size);
  font-style: var(--bold-10-font-style);
  font-weight: var(--bold-10-font-weight);
  letter-spacing: var(--bold-10-letter-spacing);
  line-height: var(--bold-10-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.div-wrapper .main-icon {
  background-image: url(../../../static/img/user-interface-help.svg) !important;
  left: 368px !important;
  position: absolute !important;
  top: 0 !important;
}

.div-wrapper .frame-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.div-wrapper .component-1604 {
  align-self: stretch !important;
  width: 100% !important;
}

.div-wrapper .component-1604-instance {
  left: 241px !important;
}

.div-wrapper .design-component-instance-node {
  left: 341px !important;
}
