.component-1607 {
  background-color: #2b347a;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #b7bfff;
  height: 32px;
  position: relative;
  width: 388px;
}

.component-1607 .text-wrapper-4 {
  color: var(--grayscale-5);
  font-family: "Inter", Helvetica;
  font-size: 10px;
  font-weight: 600;
  left: 12px;
  letter-spacing: -0.11px;
  line-height: 15px;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}

.component-1607 .text-wrapper-5 {
  color: var(--grayscale-5);
  font-family: "Inter", Helvetica;
  font-size: 10px;
  font-weight: 600;
  left: 80px;
  letter-spacing: -0.11px;
  line-height: 15px;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}

.component-1607 .text-wrapper-6 {
  color: var(--grayscale-5);
  font-family: "Inter", Helvetica;
  font-size: 10px;
  font-weight: 600;
  left: 190px;
  letter-spacing: -0.11px;
  line-height: 15px;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}

.component-1607 .frame-6 {
  align-items: center;
  display: inline-flex;
  left: 300px;
  position: absolute;
  top: 9px;
}

.component-1607 .text-wrapper-7 {
  color: var(--grayscale-5);
  font-family: "Inter", Helvetica;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: -0.11px;
  line-height: 15px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
